# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
dist/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate


https://urldefense.proofpoint.com/v2/url?u=https-3A__trmx.brassring.com_JetStream_500_Presentation_Template_ASP_Candidate_Todo_CandidateProfileDwnld.asp-3Ffilename-3D-254095IL4i2Ju2cLcIPUUcEdyyOb85T5R1L1zvI-252fBWCUg1qVfU-252bO5zKVyoTe5FldGDHRpAAaoIGVa27y6UJWTLMt0N8YNMtG7UwcE-252ffjNxHOswfQGZ-252bqmrXMRhZbACNrnvQDP5L6sSdW-252f0-252bdmAdtSSviv4jStQ9swX89QaXIna2Q7yPeBHPpsiT0yL0QpN4f6VvE8723oxTrANJW479eUs3sLjk1TKbhWbTr1mL4axkZPaWSn-252f-252bA-252by98e-252fdBKMAQSwmuhlwcR6YW4ZM2f0mBE7lS6Zf-252foqiijHL8gpHze-252bZ-252fGMM-253d-26EmailTemplate-3Dtrue&d=DwMGaQ&c=LFYZ-o9_HUMeMTSQicvjIg&r=D-5bb7F0gAZ-jFsBdyX_Vg&m=UVIsCbYjROFj8gNhGpj9HwkEVSTaUp_h3VXVlA4kQ3M&s=ZrASRYwyC5Xu2un2XEOc_kiW_oAP2Vgj0dlTTCxJUAE&e=