

pre {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin: 0 auto;
  max-width: 800px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

ul {
  min-width: 300px;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

h4 {
  margin: 0;
}

row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.row-item {
  flex: 0 0 auto;
  margin: 1px;
}

#title {
  text-align: center;
  margin-bottom: 0;
}
