<nav>
  <ul>
    {{ sectionElements }}
    <li *ngFor="let section of sections">
      {{ section }}
    </li>
  </ul>
</nav>
<main>

	<section>
		<row>
			<h1 class="row-item">{{resume.applicant.name}}</h1>
			<h4 class="row-item">{{resume.applicant.email}}</h4>
		</row>
		<row>
			<h4 class="row-item">{{resume.applicant.phone}}</h4>
			<h4 class="row-item">{{resume.applicant.address}}</h4>
		</row>

		<h2 id="title">{{resume.applicant.title}}</h2>
		<p>{{resume.applicant.titleDescription}}</p>
	</section>

	<section>
		<h3>Area of Expertise</h3>

		<row style="justify-content: space-around">
			<ul>
				<li *ngFor="let e1 of resume.expertise">{{e1}}</li>
			</ul>
			<ul>
				<li *ngFor="let e2 of resume.expertise2">{{e2}}</li>
			</ul>
		</row>

	</section>

	<section>
		<h3>Technical Skills</h3>
		<p>{{resume.skills}}</p>

	</section>

	<section>
		<h3>Professional Experience</h3>
		<article *ngFor="let e of resume.experience">
			<row>
				<h4>{{e.application}}</h4>
				<h4>{{e.date}}</h4>
			</row>
			<row *ngIf="e.role; else roles">
				<h4>{{e.role}}</h4>
			</row>
			<ng-template #roles>
				<row *ngFor="let r of e.roles">
					<h4>{{r.role}}</h4>
					<h4>{{r.date}}</h4>
				</row>
			</ng-template>
			<p>{{e.description}}</p>
		</article>

	</section>

	<section>
		<h3>Awards</h3>
		<row style="justify-content: normal;">
			<h4>Patent #</h4>
			<h4 style="margin-left: 27px">Description</h4>
		</row>
		<row style="justify-content: normal;" *ngFor="let r of resume.patents">
			<h4>{{r.number}}</h4>
			<h4 style="margin-left: 15px">{{r.description}}</h4>
		</row>

	</section>
<!--   
	<row style="margin-top: 15px;">
		<h4>Title</h4>
		<h4>Date</h4>
	</row>
	<row>
		<h4>President's Volunteer Service Award</h4>
		<h4>2013</h4>
	</row>
	<pre>
This Bronze-level President Volunteer Service Award badge is awarded for employees who have reported 100-249 hours of volunteer service in 2016 on the AT&T Volunteerism website at https://att.volunteermatch.org.
  </pre>
	<row>
		<h4>CIO Award Information Technology</h4>
		<h4>2016</h4>
	</row>
	<pre>In recognition for receiving the highest achievement in IT</pre>

	<br>
	<row>
		<h4>Education</h4>
	</row>
	<row>
		<h4>Tulane University School of Engineering</h4>
		<h4>June '91 - June '95</h4>
	</row>
	<pre>
Bachelor of Science in Computer Science
Dean's List
Best WWW Page: Content & Presentation
  </pre> -->
</main>