/* You can add global styles to this file, and also import other style files 
// font-size: 62.5%;  makes 1 rem = 10px
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%; 
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
}